h3 {
  background-color: rgb(249, 234, 234);
  padding: 12px;
  border: 3px solid white;
  border-radius: 14px;
  font-size: 15px;
  color: rgb(6, 6, 36);
}
.Questions {
  text-align: center;
}

ul {
  margin-top: 40px;
  list-style: none;
}

button {
  margin-top: 12px;
  background-color: rgb(238, 184, 184);
  padding: 16px;
  border: 3px solid white;
  border-radius: 14px;
  font-size: 20px;
  color: white;
}
li {
  margin-top: 12px;
  background-color: rgb(238, 184, 184);
  padding: 16px;
  color: white;
  border: 3px solid white;
  border-radius: 14px;
  font-size: 20px;
}

.question-text {
  font-size: 24px;
}
